<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,154}}</string>
                <key>sourceSize</key>
                <string>{210,154}</string>
            </dict>
            <key>Cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{142,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,105}}</string>
                <key>sourceSize</key>
                <string>{142,105}</string>
            </dict>
            <key>Cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{397,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,141}}</string>
                <key>sourceSize</key>
                <string>{397,141}</string>
            </dict>
            <key>Cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{202,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,120}}</string>
                <key>sourceSize</key>
                <string>{202,120}</string>
            </dict>
            <key>Cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,301},{182,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,118}}</string>
                <key>sourceSize</key>
                <string>{182,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cloud.png</string>
            <key>size</key>
            <string>{401,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bcc335ad4b47ef9126584f08d08f09:10fb4f44ca741ba5a9905cf9b59ca377:dda2d854904f2d8b0bcd8e692b0d1448$</string>
            <key>textureFileName</key>
            <string>Cloud.png</string>
        </dict>
    </dict>
</plist>
