<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>enemy_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,33},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>enemy_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,64},{26,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,29}}</string>
			<key>sourceSize</key>
			<string>{26,29}</string>
		</dict>
		<key>enemy_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,95},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>enemy_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>enemy_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>enemy_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>enemy_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ememy.png</string>
		<key>size</key>
		<string>{30,250}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cd739f1a8d6be1b143b891b76a1810dd:80f5ff59b60cae16bda9564f76fb6e63:8753da9466d348544d9bc98b68598660$</string>
		<key>textureFileName</key>
		<string>ememy.png</string>
	</dict>
</dict>
</plist>
